<ion-header>

    <header myTitle="Order History"></header>

</ion-header>

<ion-content padding>
    <ion-list *ngIf="getUserOders().length > 0" >
        <ion-list-header>
            Swipe Right For Order Details
        </ion-list-header>
        <ion-item-sliding *ngFor="let order of getUserOders();" >
            <ion-item>
                <ion-avatar item-start>
                    <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                </ion-avatar>
                <h2>{{order.ordertime | date:'medium'}}</h2>
            </ion-item>
            <ion-item-options side="left">
                <button ion-button (click)="showOrderHistory(order.idorder,order.ordertime,order.deliverytime,order.totalprice)">
                    <i class="fa fa-question-circle fa-2x" aria-hidden="true"></i>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <div *ngIf="getUserOders().length == 0" style="text-align:center; color:grey">
        <h4>Empty</h4>
    </div>



</ion-content>