body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > form > ion-item:nth-child(5) > div.item-inner , body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > form > ion-item:nth-child(12) > div.item-inner{
    border-bottom:none;
}

.button{
    background: color($colors,pLight);
    height:2em;

}
body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > form > ion-item:nth-child(5) > div.item-inner > div > ion-label > button > span,body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > form > ion-item:nth-child(12) > div.item-inner > div > ion-label > button > span{
    justify-content:center;
}

.button:active{
    background: color($colors,secondary);
    color:color($colors,textOnS)
}
