<ion-header>

    <header myTitle="Profile"></header>

</ion-header>

<ion-content padding>

    <ion-card id="bottomCard">

        <ion-card-header id="profile">
            Basic Info
        </ion-card-header>

        <div>
            <ion-list *ngFor="let user of getUserData()">
                <button ion-item class="profile">
                    <ion-icon name="md-person" item-left></ion-icon>
                        {{user.name}}
                </button>

                <button ion-item class="profile">
                    <ion-icon name="md-mail" item-left></ion-icon>
                        {{user.email}}
                </button>
                <ion-item>
                    <button ion-button full (click)="editData()">
                    Edit Info
                </button>
                </ion-item>

                <ion-card-header id="profile" (click)="editData()">
                    Mobile Numbers
                </ion-card-header>
                <ion-list>

                    <button ion-item *ngFor="let mob of listMobiles()" class="profile">
                    <ion-icon name="phone-portrait" item-left></ion-icon>{{mob.mobile}}
                </button>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-10>
                                <ion-item>
                                    <ion-label floating>Add New Mobile</ion-label>
                                    <ion-input type="tel" class="inputText" required #mobile></ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col col-2>
                                <ion-icon id="addicon" name="md-add-circle" item-right (click)="addNewMobile(mobile.value)"></ion-icon>

                            </ion-col>


                        </ion-row>
                    </ion-grid>


                </ion-list>
                <ion-card-header id="profile" (click)="editData()">
                    Addresses
                </ion-card-header>
                <ion-list>
                    <button ion-item *ngFor="let address of listAddresses()" class="profile" class="addresses">
                    <ion-icon name="md-home" item-left></ion-icon>{{address.street}} St,<br>
                    {{address.city}},<br>{{address.country}}
                </button>
                </ion-list>
                <ion-item>
                    <button ion-button full (click)="addNewAddress()">
                    Add New Address &nbsp; <ion-icon name="md-add"></ion-icon>
                </button>
                </ion-item>



            </ion-list>

        </div>

    </ion-card>

</ion-content>