.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: relative;
    bottom: 0;
    font-size: 1.5em;
    width: 100%;
    color: color($colors,textOnP);
    background-color:color($colors,pLight);
  }
 

  img{
      max-width: none;
  }

  .ion-card{
    margin:none;
  }

}