<ion-header>
    <header myTitle="Checkout"></header>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-header id="checkout">
            Total Price: {{getTotalPrice()}} EGP
        </ion-card-header>
        <br>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>Choose Address</ion-label>
                    <ion-select multiple="false" #address placeholder="Choose Address">
                        <ion-option *ngFor="let address of listAddresses()">{{address.street}} St,{{address.city}},{{address.country}}/</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <button ion-button full (click)="addNewField()">
                    Or Add New One &nbsp; <ion-icon name="md-add"></ion-icon>
                </button>
                </ion-item>
                <br>

                <ion-item>
                    <ion-label>Choose Mobile</ion-label>
                    <ion-select multiple="false" #mobile placeholder="Choose Mobile">
                        <ion-option *ngFor="let mobile of listMobiles()">{{mobile.mobile}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <button ion-button full (click)="addNewField()">
                    Or Add New One &nbsp; <ion-icon name="md-add"></ion-icon>
                </button>
                </ion-item>
                <br>

                <ion-item>
                    <ion-label>Choose Delivery Time</ion-label>
                    <ion-datetime displayFormat="DD MMM - hh:mm A" min="2017" max="2018-10-31" #date placeholder="Delivery Time">
                    </ion-datetime>
                </ion-item>
            </ion-list>
            <br>

            <button ion-button full (click)="confirm(address.value,mobile.value,date.value)"> confirm </button>

        </ion-card-content>
    </ion-card>


    <label style="color:red">{{msg}}</label>

</ion-content>